#banner{
    width:90%;
    height:150%;
    margin:auto;
    background-size:100% 100%;
    animation: banner 10s infinite;

}

@keyframes banner {
    0%, 30%{
        background-image:url("https://res.cloudinary.com/futbol-factory/image/upload/c_pad,f_auto,h_700,w_700/v1599116128/productos/217031_1.jpg");
    }
    31%,34% {
        opacity:0.1;
    }
    35%,65% {
        background-image:url("https://res.cloudinary.com/futbol-factory/image/upload/c_pad,f_auto,h_700,w_700/v1597145439/productos/213495_1.jpg");
        opacity:1;
    }
    66%, 69%{
        opacity:0.1
    }
    70%, 100%{
        opacity:1;
        background-image:url("https://res.cloudinary.com/futbol-factory/image/upload/c_pad,f_auto,h_700,w_700/v1584655450/productos/190458_1.jpg");
    }
}